.navbar{
    margin: 0;
}

.ul_navbar{
    list-style-type: none;
    margin: 0,0,10px,0;
    padding: 0;
    overflow: hidden;
    background-color: green;
}

.li_navbar{
    float: left;
}

li a {
    display: block;
    color: yellow;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orange;
}

.active{
    background-color: purple;
}

.A{
    display: flex;
    width: 100%;
    height: 100vh;
}

.L{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(224, 223, 223);
    width: 25%;
    text-align: center;
}

.R{
    padding-left: 20px;
    width: 50%;
}

.image{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin-top: 10px;
}

h2{
    color: green;
    margin-bottom: 10px;
}

p{
    margin: 10px;
}


.gallery-container {
    display: flex; 
    gap: 40px; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.gallery-item {
    position: relative; 
    width: 300px; 
    height: auto; 
    overflow: hidden; 
    margin: 20px;
    display: inline-block; 
    cursor: pointer;
}


.base-img {
    display: block;
    width: 100%;
    height: auto;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    
    opacity: 0; 
    transition: opacity 0.5s ease; 
    
    
    z-index: 10;
}


.overlay-img {
    width: 100%;
    height: 100%;
    display: block;
    
    object-fit: cover; 
}


.text-box {
    position: absolute;
    bottom: 0; 
    left: 0;
    width: 100%;
    
    height: 15%; 
    
    
    background-color: rgba(0, 0, 0, 0.5); 
    color: white;
    text-align: center;
    
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    z-index: 20; 
}


.gallery-item:hover .overlay {
    opacity: 1; 
}


table, th, td {
    border:1px solid black;
    text-align: center;
}
th{
    background-color: rgb(139, 1, 252);
    color: white;
}
td{
    background-color: rgb(235, 252, 1);
}


.switcher-controls {
    font-family: Arial, sans-serif;
    background-color: #777; 
    color: #000000;
    padding: 10px 10px; 
    margin-top: 20px; 
    width: auto;
}
.controls-inner {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
}
img {
    width: 400px; 
    height: auto; 
    border-radius: 15px;
}
.Button {
    text-align: center;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    font-size: 20px;
}
.photo-frame {
    background-color: white; 
    padding: 15px; 
    border-radius: 15px;
    margin-bottom: 20px;
}
span{
    padding: 0 20px; 
    font-size: 20px;
    color: #222;
}
h1{
    font-size: 50px;
}
.Button:hover {
    background-color: #05ebf7;
    color: #000;
}

canvas {
            border: 5px solid #333;
            box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
        }